
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*
 * -- COMMODITY CLASSES --
 */
 .capitalize{
	 text-transform: uppercase;
 }
 .clear{
	 clear:both;
	 &:after {
		 content: "";
		 display: table;
		 clear: both;
	}
 }
.hide-for-mobile{
	display: none;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.box-shadow{
	-moz-box-shadow:0px 2px 13px 3px rgba(0,0,0,0.02);
	box-shadow: 0px 2px 13px 3px rgba(0,0,0,0.02);
	&:hover{
		-moz-box-shadow:0px 2px 13px 3px rgba(0,0,0,0.24);
		box-shadow: 0px 2px 13px 3px rgba(0,0,0,0.24);
	}
	&--inner{
		-webkit-box-shadow: inset 0px -17px 57px -40px rgba(0,0,0,0.19);
		-moz-box-shadow: inset 0px -17px 57px -40px rgba(0,0,0,0.19);
		box-shadow: inset 0px -17px 57px -40px rgba(0,0,0,0.19);
		&:hover{
			box-shadow: inset 0px -17px 57px -40px rgba(0,0,0,0.36) !important;
		}
	}
}

.background{
	&--livres{
		background-color: $livres;
	}
	&--cinema{
		background-color: $cinema;
	}
	&--scene{
		background-color: $scene;
	}
	&--vrak{
		background-color: $vrak;
	}
	&--musique{
		background-color: $musique;
	}
	&--galerie{
		background-color: $galerie;
	}
}

.text-shadow{
	text-shadow: 0px 2px 13px 3px rgba(0,0,0,0.24);
	text-shadow: 4px 4px 11px rgba(30, 30, 30, 0.76);
}
.inner-padding-x{
	padding:0 1rem;
}
.inner-padding-y{
	padding:1rem 0;
}
.inner-padding{
	padding:1rem;
}
.transition{
	@include transition(.3s ease-out);
}
.transition--slow{
	@include transition(1s ease-out);
}
/*
 * -- BASE STYLES --
 */
body {
    line-height: 1.3;
	color:$black;
    font-size: $base-font-size;
    background:$background-grey;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-feature-settings: "liga", "clig", "onum";
	padding-top:2rem;
}
::selection {
  background-color: lighten($electric-blue, 30%);
}
h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: $deep-blue;
}
.pure-menu-link,
.pure-menu-disabled,
.pure-menu-heading {
    padding: .5rem;
}
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}
.maximum-width{
	max-width:90%;
	margin:auto;
}

/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
    margin: 1rem 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid $background-grey;
    box-shadow: none;
    font-size: 100%;
    margin-bottom: 1em;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
    padding: 0.5rem 2rem;
    border-radius: 5px;
    font-size:1rem;
}

a.pure-button-primary,
button.pure-button-primary{
	background: lighten($deep-blue,10%);
	color:white;
}

/*
 * -- MENU STYLES --
 */


.social-menu{
	li a{
		font-size:1rem;
		color:$deep-blue;
	}
	a.twitter:hover,
	a:hover{
		background:transparent;
		color:$electric-blue;
	}
	a.googleplus:hover,
	a.youtube:hover{
		color:#CD201F;
	}
	a.facebook:hover{
		color:#3B5998;
	}
	
	a.email:hover{
		color:#CC3732;
	}
	a.reddit:hover{
		color:#FF5700;
	}
	a.linkedin:hover{
		color:#0077B5;
	}
	
	i.fa{
		font-size:1.6rem;
		margin:.5rem .1rem 1rem;
	}
	i.fa.fa-envelope{font-size:1.4rem;margin-right:5px;}
	.email {
		font-size:.9rem;
	}

}

.pure-form input.search-input{
	position:relative;
	padding-left:2.2em;
	font-size:1rem;
	background-position: center left;
	background-image: url("../img/search.svg");
	background-repeat: no-repeat;
}

.tooltipster-icon{
	@extend .fa;
	@extend .fa-info-circle;
}

.logo-home img{
	@extend .pure-img-responsive;
}

img.portrait-author{
	    vertical-align: middle;
		margin:0 .3rem;
		border:3px solid white;
		width:auto;
		height:auto;
		border-radius:50%;
}
    

/*
 * -- UI TITLE --
 */

.ui-title{
	text-transform: uppercase;
	font:$font-ui;
	font-size:.8rem;
	font-weight: 300;
	color:$light-grey;
	&--2x{
		font-size:1.6rem;
	}
}
span.ui-title{
	display:block;
	font-weight:300;
	padding:.5rem 0 0;
}


/* .size-medium{width:50%;max-width:100%;height:auto;} */

// Header: align vertical align to the middle of logo
.site-header{
	.searchform{}
	.logo-home{}
	.header-right{text-align: right}
}

p.slogan{
	padding-top:0;
	line-height: 1;
	font-family: $font-ui;
	font-size:1rem;
	text-align: center;
}

.circle{
	margin:2rem auto;
	width:120px;
	height:120px;
	border-radius: 50%;
	font-size:1rem;
	background:$deep-blue;
	border:1px solid $deep-blue;
	text-decoration: none;
	color:$white;
	text-align: center;
	display:block;
	@include transition(background-color .6s  ease-in-out);
	span.label{
		line-height: 100%;
		margin-top:50%;
		transform:translateY(-50%);
		display: block;
	}
	&--big{
		width:180px;
		height:180px;
	}
	&--biggest{
		width:320px;
		height:320px;
		font-size:2rem;
	}
	&:hover{
	    transition: none;
	    background-color:$white;
	    border-color:$white;
		color:$deep-blue;
		span.label{color:$black;}
	}
	&--livres{
		background-color:$livres;
		border-color:$livres;
		color:$deep-blue;
	}
	&--galerie{
		background-color:$galerie;
		border-color:$galerie;
		color:$deep-blue;
	}
	&--vrak{
		background-color:$vrak;
		border-color:$vrak;
		color:$deep-blue;
	}
	&--cinema{
		background-color:$cinema;
		border-color:$cinema;
		color:$deep-blue;
	}
	&--musique{
		background-color:$musique;
		border-color:$musique;
		color:$white;
	}
	&--scene{
		background-color:$scene;
		border-color:$scene;
		color:$deep-blue;
	}
}
/*
.circle-button{
	@extend .circle;
	border:1px solid $light-grey;
	background:$background-grey;
	color:$dark-grey;
	span.label{
	    text-transform: uppercase;
	    color:$dark-grey ;
	}
}
a.circle-button.musique.selected,
a.circle-button.musique:hover{
    background:$musique;
    border-color:$musique;
    span.category-name{
    	color:$white !important;
    }
}
a.circle-button.cinema.selected,
a.circle-button.cinema:hover{
    background:$cinema;
    border-color:$cinema;
    span.category-name{
    	color:$white !important;
    }
}

a.circle-button.livres.selected,
a.circle-button.livres:hover{
    background:$livres;
    border-color:$livres;
}
a.circle-button.scene.selected,
a.circle-button.scene:hover{
    background:$scene;
    border-color:$scene;
}

a.circle-button.vrak.selected,
a.circle-button.vrak:hover{
    background:$vrak;
    border-color:$vrak;
    span.category-name{
    	color:$white !important;
    }
}
*/




.author-latest-list{
	padding-left:0;
	list-style: none;
}
.dans-cette-categorie{
	background:$deep-blue;
	background:$vrak;
	padding:3rem;
	h1.ui-title{
		padding:0 1rem;
		font-weight: 300;
		color:$white;
		font-size:2rem;
	}
}

.vignette{
	display:block;
	color:$black;
	text-decoration: none;
	margin:1rem;
	outline:0;
	font-size:1rem;
	img{
		@extend .pure-img-responsive;
	}
	.image-fill{
		@extend .transition--slow;
		background:white;
		height:250px;
		background-position: center center;
		background-size:cover;
		background-repeat: none;
	}
	.img-clipper{
		height:250px;
		overflow:hidden;
	}
	article{text-align: center;	background:white;display:block;height: 500px;@extend .transition--slow;}
	h1{font-family: $serif;font-weight:normal;text-align:center;letter-spacing: normal;line-height: 1.1;}
	p.meta--author{text-align: center;}
	.portrait-author{width:45px;margin:auto}
	@extend .transition;
	&:hover{
		@extend .transition;
		box-shadow: 0px 2px 20px 3px lighten($black,10%);
		article{
			@extend .transition--slow;
			background: rgba(51,51,51,0);
			color:$white;
			.ui-title{color:$white;}
			@include linear-gradient(to bottom, rgba(51,51,51,0) 0%, rgba(39,39,39,0.44) 24%, rgba(0,0,0,0.99) 100%);
			.inner-padding{
				border-color:$white;
			}
		}
		
		h1{
			color:$white;
		}
		.image-fill{
			@extend .transition--slow;
			@include transform(scale(1.05));
		}
	}
	&--double{
		
	}
	&--noimage{
		article{
			padding:10px; // to make the outter white border
			.ui-title{
				color: $deep-blue;
			}
			.inner-padding{
				border:10px solid $deep-blue;
				height:100%;
				h1{
					text-align: center;
					position: relative;
					top: 20%;
					@include transform(translateY(-20%));
					margin-bottom:30%;
				}
			}
		}
	}
	&--wide{
		padding:0;
		height:400px;
		article{padding:0;background:white; height:400px;@extend .transition--slow;}
		.image-fill{
			background:transparent;
			height:400px;
			max-width:870px;
			background-position: center center;
			background-size:cover;
		}
		.img-clipper{
			height:400px;
		}
	}
	&--hero{
		article{
			height:500px;
			position:relative;
		}
		.image-fill{height:100%;}
		.img-clipper{height:500px;}
		.inner-padding{max-width:40%;text-align:left;position:absolute;top:0;left:0;height:100%;
			@include linear-gradient(to left, rgba(39,39,39,0.02) 0%, rgba(0,0,0,0.75) 100%);
			h1{color:$white;text-align: left;font-size:3rem;line-height: 1.3;padding:0;font-weight: 400}
		}
		.portrait-author{display:inline-block;margin-left:.5rem;margin-right:.5rem}
		p.meta--author{color:$white;text-align: left;}
	}
	&--textuelle{
		margin:0;
		&:after{
			content: "___";

		}
		article{
			height:auto; background:none;box-shadow: none;
			@include transition(none);
		}
		h1,p{text-align: left;}
		h1{margin-top:0;}
		p.meta--author{text-align:left;font-size:90%;margin-bottom:0;padding-bottom:0;opacity: .5}
		&:hover{
			box-shadow: none;
			transition:none;
			article{background:transparent;
				@include transition(none);
			}
		}
	}
	&--bandelette{
		article, a{
			height:100px;
			padding:0;
			margin:0;
			overflow: hidden;
			position:relative;
		}
		.img-clipper,
		.inner-padding{
			position:absolute;
			top:0;
			width:100%;
			height:100%;
			height:100px;
			z-index:2;
			padding:0;
		}
		.img-clipper{
			right:0;
			z-index:1;
		}
		.inner-padding{
			padding-left:10px;
			padding-right:10px;
		}
		h1{
			font-size:1.2rem; // @extend .truncate;
//			font-family: $font-ui;
			color:$deep-blue;
			text-align: left;
			line-height: 1.4;
		}
		
		.ui-title{
			font-family: $font-ui;
/*
			color:$deep-blue;
			text-align: left;
*/
		}
		.cartouche{
			background:$white;
			opacity:.7;
			color:$deep-blue;
			line-height: 1;
			.ui-title{color:$white;}
		}
		&:hover{
			.cartouche{
				opacity:1;
			}
		}
		.karoo-tv-play-icon, .play-icon{margin:0;}
		
	}
	&--mediaplayer{
		h2.ui-title{color:$deep-blue;}
		h1{font-size:1rem;}
		a{
			background:transparent;
			padding:0;
			text-decoration: none;
			h2.ui-title{font-weight:bold;color:$dark-grey}
		}
		article{
			height:auto;
		}
		img{background:none;}
		a,ol,li{list-style: none;padding:0;margin:0;}
		.img-clipper{
			@extend .play-icon;
			height:100%;
			display:block;
		}
	}
}
.background--livres,
.background--cinema,
.background--musique{
	.ui-title{
		color:$white;	
	}
}
.background--galerie,
.background--scene{
	.ui-title{
		color:$black;	
	}
}

.dark-blue-background{
	background:#252B32;
	color:$white;
	a, .ui-title {
		color:$white;
	}
	&.post-sharing-zone {
		.ui-title{
			color:$white;
			font-weight: normal;	
		}
		a{
			color:$white;
		}
	}
	.vignette{
		margin:0;
		article{background:transparent;}
		h1{color:$white;font-family: $font-ui;font-size:1rem;padding:auto 0;}
	}	
}

.site-footer,
.sitemap{
	padding:3rem 0;
	font-size:1rem;
	img{
		@extend .pure-img-responsive;
	}
}
.sitemap{
	a{
		text-decoration: none;
		color: $white;
		&:hover{
			text-decoration: underline;
		}
	}
	.ui-title{
		font-weight: bold;
		font-size:1rem;
	}
	ol,li{
		list-style: none;
		padding-left:0;
	}
	ol{
		margin:2rem 0 3rem;
	}
	li{
		line-height: 1;
		margin-bottom:.7rem;
	}
	
}
.site-footer{
	border-top:1px solid lighten($deep-blue,5%);
	padding-top:0;
	color:lighten($deep-blue,25%);
	line-height: 1.4;
	font-size:1rem;
}

/*  ICONS IN CONTENT */
/* Show a Lens icon on hovering image links */
a[href$=".jpg"],
a[href$=".JPG"],
a[href$=".jpeg"],
a[href$=".png"],
a[href$=".gif"],
.image-modal-icon{
	outline:0;
	position:relative;
	text-align: center;
	display:inline-block;
	&:before{
		@extend .fa;
		@extend .text-shadow;
		position:absolute;
		top:50%;
		margin-top:-32px;
		left:0;
		width:100%;
		font-size:64px;
		content:"\f065";
		color:$white;
		opacity:0;
		transition: all 0.5s ease;
		z-index: 5;
	}
	&:hover:before{
		opacity:1;
	}
}
html.touch {
	a[href$=".jpg"],a[href$=".JPG"],a[href$=".jpeg"],a[href$=".png"],a[href$=".gif"],.image-modal-icon{
		&:before{opacity:.5;}
	}
}
.karoo-tv-play-icon,
.play-icon{
	margin:0;
	//margin-right:2rem;
	@extend .image-modal-icon;

	img{
		background:white;
	}
	&:before{
		content: "\f16a";
		opacity:.5;
	}
}

/*
	TEMPLATE-SPECIFICS
*/
body.single-post{
	background:white;
	@import 'base.article.scss';
}
body.home{
	@import 'base.home.scss';
}


