
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*
 * -- COMMODITY CLASSES --
 */
.hide-for-mobile{
	display: none;
}

.box-shadow{
	-moz-box-shadow:0px 2px 13px 3px rgba(0,0,0,0.02);
	box-shadow: 0px 2px 13px 3px rgba(0,0,0,0.02);
	&:hover{
		-moz-box-shadow:0px 2px 13px 3px rgba(0,0,0,0.24);
		box-shadow: 0px 2px 13px 3px rgba(0,0,0,0.24);
	}
	&--inner{
		-webkit-box-shadow: inset 0px -17px 57px -40px rgba(0,0,0,0.19);
		-moz-box-shadow: inset 0px -17px 57px -40px rgba(0,0,0,0.19);
		box-shadow: inset 0px -17px 57px -40px rgba(0,0,0,0.19);
		&:hover{
			box-shadow: inset 0px -17px 57px -40px rgba(0,0,0,0.36) !important;
		}
	}
}

.background{
	&--livres{
		background-color: $livres;
	}
	&--cinema{
		background-color: $cinema;
	}
	&--scene{
		background-color: $scene;
	}
	&--vrak{
		background-color: $vrak;
	}
	&--musique{
		background-color: $musique;
	}
	&--galerie{
		background-color: $galerie;
	}
}

.text-shadow{
	text-shadow: 0px 2px 13px 3px rgba(0,0,0,0.24);
	text-shadow: 4px 4px 11px rgba(30, 30, 30, 0.76);
}
.inner-padding-x{
	padding:0 1rem;
}
.inner-padding-y{
	padding:1rem 0;
}
.inner-padding{
	padding:1rem;
}
.transition{
	@include transition(.3s ease-out);
}
.transition--slow{
	@include transition(1s ease-out);
}
/*
 * -- BASE STYLES --
 */
body {
    line-height: 1.3;
	color:$black;
    font-size: $base-font-size;
    background:$background-grey;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-feature-settings: "liga", "clig", "onum";
	padding-top:2rem;
}
::selection {
  background-color: lighten($electric-blue, 30%);
}
h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: $deep-blue;
}
.pure-menu-link,
.pure-menu-disabled,
.pure-menu-heading {
    padding: .5rem;
}
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}
.maximum-width{
	max-width:90%;
	margin:auto;
}

/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
    margin: 1rem 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid $background-grey;
    box-shadow: none;
    font-size: 100%;
    margin-bottom: 1em;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
    padding: 0.5rem 2rem;
    border-radius: 5px;
    font-size:1rem;
}

a.pure-button-primary,
button.pure-button-primary{
	background: lighten($deep-blue,10%);
	color:white;
}
/* BACK/NEXT ARROWS */
#js-prev-next-links-wrapper{
	display:none;
}
.arrow-left,
.arrow-right{
	display: block;
	width:400px;
	position: fixed;
	background: $white;
	color: $black;
	background-image: url('../img/arrow-left.svg');
	background-position: center right;
	background-repeat: no-repeat;
	padding: .2rem 60px;
	@extend .box-shadow;
	border-radius: 7px;
	z-index: 100;	
	top: 45%;
	@extend .transition;
	text-decoration: none;
	font-size: 16px;
	font-size:1rem;
	.ui-title{
		color:$dark-grey;
	}
	h1{
		font-size:1rem;
		line-height: 1.3;
		padding-left:1rem;
	}
}

.arrow-left{
	//left: -350px;
	transform:translateX(-350px);
	&:hover {
		//left: -20px;
		transform:translateX(-20px);
	}
}
.arrow-right{
	right: -350px;
	background-image: url('../img/arrow-right.svg');
	background-position: center left;
	&:hover {
		right: -20px;
	}
}

/*
 * -- MENU STYLES --
 */



.rubrique-menu {
	font-weight: bold;
	font-size:1rem;
	text-align: center;
	.pure-menu-link{
		text-decoration: none;
		&:hover{
			@include underline($white, $black, $electric-blue, 68%);
		}
	}
	.pure-menu-selected{
		@include underline($white, $black, $electric-blue, 68%);
	}
	li a {
    	color: $deep-blue;
	}
	ul{
		margin:0 auto;
	}
	li a:hover,
	li a:focus {
		@include underline($white, $black, $electric-blue, 65%);
		border: none;
	}
}
.breadcrumb-menu{
	display:none;
	line-height: 2rem;
	margin:0;
	margin-top:2rem;
	text-align: center;
	text-align:left;
	font-size:1rem;
	ul{
		margin-top:0;
	}
	li a,
	.pure-menu-link{
		color:$deep-blue;
		
	}
	.sep{
		opacity: .6 ;
	}
}
.social-menu{
	li a{
		font-size:1rem;
		color:$deep-blue;
	}
	a.twitter:hover,
	a:hover{
		background:transparent;
		color:$electric-blue;
	}
	a.googleplus:hover,
	a.youtube:hover{
		color:#CD201F;
	}
	a.facebook:hover{
		color:#3B5998;
	}
	
	a.email:hover{
		color:#CC3732;
	}
	a.reddit:hover{
		color:#FF5700;
	}
	a.linkedin:hover{
		color:#0077B5;
	}
	
	i.fa{
		font-size:1.6rem;
		margin:.5rem .1rem 1rem;
	}
	i.fa.fa-envelope{font-size:1.4rem;margin-right:5px;}
	.email {
		font-size:.9rem;
	}

}

.pure-form input.search-input{
	position:relative;
	padding-left:2.2em;
	font-size:1rem;
	background-position: center left;
	background-image: url("../img/search.svg");
	background-repeat: no-repeat;
}

.tooltipster-icon{
	@extend .fa;
	@extend .fa-info-circle;
}

.logo-home img{
	@extend .pure-img-responsive;
}


/* This is the subheading that appears on the blue section */
img.portrait-author{
	    vertical-align: middle;
		margin:0 .3rem;
		border:3px solid white;
		width:auto;
		height:auto;
		border-radius:50%;
}
    
.splash-subhead {
	font-size:1rem;
    a{
	    color:$black;
	    &:hover{
		    color: $electric-blue;
	    }
    }
    img.portrait-author{
		width:48px;
    }
}

/*
 * -- CONTENT STYLES --
 */
.content-wrapper {

    width: 100%;
    min-height: 12%;
    background: white;

}
.ui-title{
	text-transform: uppercase;
	font:$font-ui;
	font-size:.8rem;
	font-weight: 300;
	color:$light-grey;
}
span.ui-title{
	display:block;
	font-weight:300;
	padding:.5rem 0 0;
}
/*
	PROGRESS INDICATOR
	https://css-tricks.com/reading-position-indicator/
*/

.progress-indicator {
    position: fixed;
    top: 0;
    left: 0;
    height:3px;
    background-color: $electric-blue;
    z-index:1000;
}

/* .size-medium{width:50%;max-width:100%;height:auto;} */

.post-sharing-zone{
	border:2px solid $deep-blue;
	margin-top:0.6rem;
	padding:0;
	line-height: 1;
	.sharing-cta{padding:0 .3rem 0;}
	.ui-title{
		font-family: $font-ui;
		margin-top:0;
	}
	.ui-title,a{
		margin-top:0;
		color:$deep-blue;
	}

	.social-menu i.fa{
		margin:.5rem .1rem 0.2rem;
	}
}
.post-sharing-zone.end-article{
	max-width:300px;
	margin:auto;
	background:white;
}

// Header: align vertical align to the middle of logo
.site-header{
	.searchform{}
	.logo-home{}
	.header-right{text-align: right}
}

p.slogan{
	padding-top:0;
	line-height: 1;
	font-family: $font-ui;
	font-size:1rem;
	text-align: center;
}
.circle-button{
	padding:0;
	margin:2rem auto 0;
	border:1px solid $light-grey;
	background:$background-grey;
	display:block;
	font-family: $font-ui;
	font-weight: normal;
	text-decoration:none;
	text-align: center;
	line-height: rem-calc(180);
	font-size:1rem;
	width:rem-calc(180);
	height:rem-calc(180);
	letter-spacing: normal;
	@include border-radius(50%);
	@include transition(background-color .6s  ease-in-out);
	span.category-name{
	    margin:0;
	    padding:0;
	    font-size: 1rem;
	    text-align: center;
	    text-transform: uppercase;
	    font-weight: normal;
	    color:$dark-grey !important;
	}
	&:hover{
	    transition: none;
	    background:$white;
	    border-color:$white;
	    span.category-name{
	    	color:$black;
	    }
	}
}
a.circle-button.musique.selected,
a.circle-button.musique:hover{
    background:$musique;
    border-color:$musique;
    span.category-name{
    	color:$white !important;
    }
}
a.circle-button.cinema.selected,
a.circle-button.cinema:hover{
    background:$cinema;
    border-color:$cinema;
    span.category-name{
    	color:$white !important;
    }
}

a.circle-button.livres.selected,
a.circle-button.livres:hover{
    background:$livres;
    border-color:$livres;
}
a.circle-button.scene.selected,
a.circle-button.scene:hover{
    background:$scene;
    border-color:$scene;
}

a.circle-button.vrak.selected,
a.circle-button.vrak:hover{
    background:$vrak;
    border-color:$vrak;
    span.category-name{
    	color:$white !important;
    }
}




.author-latest-list{
	padding-left:0;
	list-style: none;
}
.dans-cette-categorie{
	background:$deep-blue;
	background:$vrak;
	padding:3rem;
	h1.ui-title{
		padding:0 1rem;
		font-weight: 300;
		color:$white;
		font-size:2rem;
	}
}

.vignette{
	display:block;
	color:$black;
	text-decoration: none;
	margin:1rem;
	outline:0;
	font-size:1rem;
	img{
		@extend .pure-img-responsive;
	}
	.image-fill{
		@extend .transition--slow;
		background:white;
		height:250px;
		background-position: center center;
		background-size:cover;
		background-repeat: none;
	}
	.img-clipper{
		height:250px;
		overflow:hidden;
	}
	article{text-align: center;	background:white;display:block;height: 500px;@extend .transition--slow;}
	h1{font-family: $serif;font-weight:normal;text-align:center;letter-spacing: normal;line-height: 1.1;}
	p.meta--author{text-align: center;}
	.portrait-author{width:45px;margin:auto}
	
	&--noimage{
		article{
			padding:10px; // to make the outter white border
			.ui-title{
				color: $deep-blue;
			}
			.inner-padding{
				border:10px solid $deep-blue;
				height:100%;
				h1{
					text-align: center;
					position: relative;
					top: 20%;
					@include transform(translateY(-20%));
					margin-bottom:30%;
				}
			}
		}
	}
	&--wide{
		padding:0;
		height:400px;
		article{padding:0;background:white; height:400px;@extend .transition--slow;}
		.image-fill{
			background:transparent;
			height:400px;
			max-width:870px;
			background-position: center center;
			background-size:cover;
		}
		.img-clipper{
			height:400px;
		}
	}
	@extend .transition;
	&:hover{
		@extend .transition;
		box-shadow: 0px 2px 20px 3px lighten($black,10%);
		article{
			@extend .transition--slow;
			background: rgba(51,51,51,0);
			color:$white;
			.ui-title{color:$white;}
			@include linear-gradient(to bottom, rgba(51,51,51,0) 0%, rgba(39,39,39,0.44) 24%, rgba(0,0,0,0.99) 100%);
			.inner-padding{
				border-color:$white;
			}
		}
		
		h1{
			color:$white;
		}
		.image-fill{
			@extend .transition--slow;
			@include transform(scale(1.05));
		}
	}
	
	&--hero{
		article{
			height:500px;
			position:relative;
		}
		.image-fill{height:100%;}
		.img-clipper{height:500px;}
		.inner-padding{max-width:40%;text-align:left;position:absolute;top:0;left:0;height:100%;
			@include linear-gradient(to left, rgba(39,39,39,0.02) 0%, rgba(0,0,0,0.75) 100%);
			h1{color:$white;text-align: left;font-size:3rem;line-height: 1.3;padding:0;font-weight: 400}
		}
		.portrait-author{display:inline-block;margin-left:.5rem;margin-right:.5rem}
		p.meta--author{color:$white;text-align: left;}
	}
	
	&--bandelette{
		article{
			height:100px;
		}
		.image-fill{height:100%}
	}
}


.dark-blue-background{
	background:#252B32;
	color:$white;
	a{
		color:$white;
	}
}
.dark-blue-background.post-sharing-zone {
	.ui-title{
		color:$white;
		font-weight: normal;	
	}
	a{
		color:$white;
	}
}
.site-footer,
.sitemap{
	padding:3rem 0;
	font-size:1rem;
	img{
		@extend .pure-img-responsive;
	}
}
.sitemap{
	a{
		text-decoration: none;
		color: $white;
		&:hover{
			text-decoration: underline;
		}
	}
	.ui-title{
		font-weight: bold;
		font-size:1rem;
	}
	ol,li{
		list-style: none;
		padding-left:0;
	}
	ol{
		margin:2rem 0 3rem;
	}
	li{
		line-height: 1;
		margin-bottom:.7rem;
	}
	
}
.site-footer{
	border-top:1px solid lighten($deep-blue,5%);
	padding-top:0;
	color:lighten($deep-blue,25%);
	line-height: 1.4;
	font-size:1rem;
}

/*  ICONS IN CONTENT */
/* Show a Lens icon on hovering image links */
a[href$=".jpg"],
a[href$=".JPG"],
a[href$=".jpeg"],
a[href$=".png"],
a[href$=".gif"],
.image-modal-icon{
	outline:0;
	position:relative;
	text-align: center;
	display:inline-block;
	&:before{
		@extend .fa;
		@extend .text-shadow;
		position:absolute;
		top:50%;
		margin-top:-32px;
		left:0;
		width:100%;
		font-size:64px;
		content:"\f065";
		color:$white;
		opacity:0;
		transition: all 0.5s ease;
		z-index: 5;
	}
	&:hover:before{
		opacity:1;
	}
}
html.touch {
	a[href$=".jpg"],a[href$=".JPG"],a[href$=".jpeg"],a[href$=".png"],a[href$=".gif"],.image-modal-icon{
		&:before{opacity:.5;}
	}
}
.karoo-tv-play-icon,
.play-icon{
	margin:0;
	margin-right:2rem;
	@extend .image-modal-icon;

	img{
		background:white;
	}
	&:before{
		content: "\f16a";
		opacity:.5;
	}
}
.badge {
   position:relative;
   &[data-badge]:after {
	   content:attr(data-badge);
	   position:absolute;
	   top:-10px;
	   right:-10px;
	   font-size:.7em;
	   background:#CC0000;
	   color:white;
	   width:18px;height:18px;
	   text-align:center;
	   line-height:18px;
	   border-radius:50%;
	   box-shadow:0 0 1px #333;
	}
}
/*
	TEMPLATE-SPECIFICS
*/
body.single-post{
	background:white;
	@import 'base.article.scss';
}
body.home{
	@import 'base.home.scss';
}


