/*
.headroom--pinned {
    display: block;
}
.headroom--unpinned {
    display: none;
}
*/

/*
.headroom {
    @include transition(transform .3s linear);
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
*/

.headroom--unpinned{
	
}