/*
	Res: 768px and up
	
*/
.breadcrumb-menu,
.headroom--small .breadcrumb-menu{
	display:block;
}

aside.in-this-taxonomy{
	display:block;
}

a.circle-button{
	width:120px;
	height:120px;
	line-height: 120px;
}
