/*
	Tablet
	Resolution >= 1024px
	
*/

.maximum-width{
	max-width:1200px;
	margin:auto;
}


.header .logo-home{
	text-align: left;
}

.social-menu{
	text-align: center;
	i{
		font-size:1.33rem;
		margin:0;
	}
}
.splash-head {
        font-size: 250%;
        padding:0 60px;
}

body.single-post .post-content{
	
	blockquote.big{
		max-width:30rem;
		float:left;
		margin:1rem 0;
		padding:0 2rem 0 4rem;
		font-size:200%;
		line-height: 1.2;
	}
}





/* BACK/NEXT ARROWS */
#js-prev-next-links-wrapper{
	display:block;
}